test/generalTest.json
[
    {
        "id": "ebd0cc75.16e66",
        "type": "tab",
        "label": "Data Analysis - Real time",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cc8d9325.d6195",
        "type": "data-generator",
        "z": "ebd0cc75.16e66",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "syntax": "json",
        "template": "{\n    \"name\": \"{{firstName}} {{lastName}}\",\n    \"work\": \"{{company}}\",\n    \"email\": \"{{email}}\",\n    \"address\": \"{{int 1 100}} {{street}}\",\n    \"country\": \"{{country}}\",\n    \"salary\": {{float 50 150 '0.00'}},\n    \"assignedColor\":\"{{color}}\"\n}",
        "x": 137,
        "y": 80,
        "wires": [
            [
                "e452d93a.c25838"
            ]
        ]
    },
    {
        "id": "e452d93a.c25838",
        "type": "Data Analysis",
        "z": "ebd0cc75.16e66",
        "name": "",
        "action": "realtime",
        "term": "3",
        "keyProperty": "msg.payload.assignedColor",
        "dataProperty": "msg.payload.salary",
        "x": 437,
        "y": 80,
        "wires": [
            [],
            [
                "d7f811fe.76a75"
            ]
        ]
    },
    {
        "id": "d7f811fe.76a75",
        "type": "debug",
        "z": "ebd0cc75.16e66",
        "name": "realtime",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "result",
        "targetType": "msg",
        "x": 600,
        "y": 160,
        "wires": []
    },
    {
        "id": "2c38c03f.f7e97",
        "type": "inject",
        "z": "ebd0cc75.16e66",
        "name": "@stats",
        "topic": "@stats",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 127,
        "y": 20,
        "wires": [
            [
                "cc8d9325.d6195"
            ]
        ]
    },
    {
        "id": "fd2d600d.de6ae",
        "type": "Load Injector",
        "z": "ebd0cc75.16e66",
        "name": "",
        "thinktimemin": "10",
        "thinktimemax": "100",
        "runtime": "60",
        "payload": "",
        "payloadType": "date",
        "x": 137,
        "y": 180,
        "wires": [
            [
                "cc8d9325.d6195"
            ]
        ]
    }
]