test/generalTest.json
[
    {
        "id": "d131d94a.914f68",
        "type": "tab",
        "label": "Transform",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d16f6aac.17c398",
        "type": "transform",
        "z": "d131d94a.914f68",
        "name": "",
        "actionSource": "JSON",
        "actionTarget": "String",
        "delimiter": ",",
        "x": 580,
        "y": 60,
        "wires": [
            [
                "6e584abc.e21284"
            ]
        ]
    },
    {
        "id": "6e584abc.e21284",
        "type": "test",
        "z": "d131d94a.914f68",
        "name": "",
        "topic": "",
        "payload": "{\"a\":1,\"b\":1}",
        "payloadType": "json",
        "result": "{\"a\":1,\"b\":1}",
        "resultType": "str",
        "resultProperty": "msg.payload",
        "x": 300,
        "y": 120,
        "wires": [
            [
                "d16f6aac.17c398"
            ],
            []
        ]
    },
    {
        "id": "77ac3c00.7b1364",
        "type": "debug",
        "z": "d131d94a.914f68",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 730,
        "y": 340,
        "wires": []
    },
    {
        "id": "2d3b06cd.45849a",
        "type": "test",
        "z": "d131d94a.914f68",
        "name": "",
        "topic": "",
        "payload": "{\"a\":1,\"b\":1}",
        "payloadType": "str",
        "result": "{\"a\":1,\"b\":1}",
        "resultType": "json",
        "resultProperty": "msg.payload",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "f9570bd0.ab6a28"
            ],
            []
        ]
    },
    {
        "id": "f9570bd0.ab6a28",
        "type": "transform",
        "z": "d131d94a.914f68",
        "name": "",
        "actionSource": "String",
        "actionTarget": "JSON",
        "delimiter": ",",
        "x": 560,
        "y": 160,
        "wires": [
            [
                "2d3b06cd.45849a"
            ]
        ]
    },
    {
        "id": "17b147aa.ff1718",
        "type": "inject",
        "z": "d131d94a.914f68",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 40,
        "wires": [
            [
                "6e584abc.e21284",
                "2d3b06cd.45849a",
                "7476b8e5.286708"
            ]
        ]
    },
    {
        "id": "76329906.c0a508",
        "type": "transform",
        "z": "d131d94a.914f68",
        "name": "",
        "actionSource": "JSON",
        "actionTarget": "Array",
        "delimiter": ",",
        "x": 560,
        "y": 240,
        "wires": [
            [
                "77ac3c00.7b1364",
                "7476b8e5.286708"
            ]
        ]
    },
    {
        "id": "7476b8e5.286708",
        "type": "test",
        "z": "d131d94a.914f68",
        "name": "",
        "topic": "",
        "payload": "{\"a\":1,\"b\":\"two\"}",
        "payloadType": "json",
        "result": "[[\"a\",\"1\"],[\"b\",\"two\"]]",
        "resultType": "json",
        "resultProperty": "msg.payload",
        "x": 300,
        "y": 300,
        "wires": [
            [
                "76329906.c0a508",
                "363f9520.3297ea"
            ],
            []
        ]
    },
    {
        "id": "edbcae21.cd1cf",
        "type": "inject",
        "z": "d131d94a.914f68",
        "name": "ISO8385 message",
        "topic": "",
        "payload": "[49,50,51,52,68,48,50,48,48,48,48,48,48,50,67,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,48,56,49,54,49,50,51,52,53,54,55,56,57,48,49,50,51,52,53,54,48,48,48,48,48,48,48,48,53,54,57,57,48,48,48,50,51,52,48,48,48,52,51,49,51,50,51,51,51,52,51,53,50,48,50,48,50,48,51,54,51,55,51,56,51,57,51,48,51,49,51,50,51,51,51,52,50,48,50,48,50,48,50,48,50,48,50,48,48,48,48,57,52,50,52,67,52,49,52,56,50,48,52,50,52,67,52,49,52,56]",
        "payloadType": "bin",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 420,
        "wires": [
            [
                "642d5f62.681f6"
            ]
        ]
    },
    {
        "id": "642d5f62.681f6",
        "type": "transform",
        "z": "d131d94a.914f68",
        "name": "",
        "actionSource": "ISO8385",
        "actionTarget": "Array",
        "delimiter": ",",
        "x": 510,
        "y": 420,
        "wires": [
            [
                "77ac3c00.7b1364"
            ]
        ]
    },
    {
        "id": "681ea82b.122758",
        "type": "comment",
        "z": "d131d94a.914f68",
        "name": "Experimental",
        "info": "# Experimental",
        "x": 310,
        "y": 40,
        "wires": []
    },
    {
        "id": "363f9520.3297ea",
        "type": "transform",
        "z": "d131d94a.914f68",
        "name": "",
        "actionSource": "JSON",
        "actionTarget": "HTML",
        "delimiter": ",",
        "x": 520,
        "y": 500,
        "wires": [
            [
                "77ac3c00.7b1364"
            ]
        ]
    }
]