test/transformTest.json
[
    {
        "id": "924bb2b7.03fd1",
        "type": "tab",
        "label": "transform xlsx",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2a9b4180.1b8ffe",
        "type": "inject",
        "z": "924bb2b7.03fd1",
        "name": "json xcel worksheets",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"worksheet1\":[[11,12],[21,22],[31,32]],\"worksheet2\":[[11,12],[21,22]]}",
        "payloadType": "json",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "b99caf39.d57c9"
            ]
        ]
    },
    {
        "id": "b99caf39.d57c9",
        "type": "transform",
        "z": "924bb2b7.03fd1",
        "name": "",
        "actionSource": "Array",
        "actionTarget": "XLSX",
        "sourceProperty": "msg.payload",
        "targetProperty": "msg.xlsx",
        "topicProperty": "msg.topic",
        "maxMessages": 1000,
        "schema": "{\"type\":\"record\",\"fields\":[{\"name\":\"name\",\"type\":\"string\"}]}",
        "schemaType": "json",
        "skipLeading": 0,
        "skipTrailing": 0,
        "delimiter": ",",
        "x": 380,
        "y": 60,
        "wires": [
            [
                "e234842f.2946a8",
                "7bde11d2.378e6"
            ],
            [
                "3db2b919.ea68d6"
            ]
        ]
    },
    {
        "id": "7bde11d2.378e6",
        "type": "transform",
        "z": "924bb2b7.03fd1",
        "name": "",
        "actionSource": "Array",
        "actionTarget": "XLSXObject",
        "sourceProperty": "msg.payload",
        "targetProperty": "msg.xlsxobject",
        "topicProperty": "msg.topic",
        "maxMessages": 1000,
        "schema": "{\"type\":\"record\",\"fields\":[{\"name\":\"name\",\"type\":\"string\"}]}",
        "schemaType": "json",
        "skipLeading": 0,
        "skipTrailing": 0,
        "delimiter": ",",
        "x": 360,
        "y": 120,
        "wires": [
            [
                "8e6f5298.ccab4"
            ],
            [
                "3db2b919.ea68d6"
            ]
        ]
    },
    {
        "id": "8e6f5298.ccab4",
        "type": "transform",
        "z": "924bb2b7.03fd1",
        "name": "",
        "actionSource": "XLSX",
        "actionTarget": "Array",
        "sourceProperty": "msg.xlsx",
        "targetProperty": "msg.array",
        "topicProperty": "msg.topic",
        "maxMessages": 1000,
        "schema": "{\"type\":\"record\",\"fields\":[{\"name\":\"name\",\"type\":\"string\"}]}",
        "schemaType": "json",
        "skipLeading": 0,
        "skipTrailing": 0,
        "delimiter": ",",
        "x": 380,
        "y": 180,
        "wires": [
            [
                "3db2b919.ea68d6"
            ],
            [
                "3db2b919.ea68d6"
            ]
        ]
    },
    {
        "id": "e234842f.2946a8",
        "type": "transform",
        "z": "924bb2b7.03fd1",
        "name": "",
        "actionSource": "XLSX",
        "actionTarget": "XLSXObject",
        "sourceProperty": "msg.xlsx",
        "targetProperty": "msg.xlsx2xlsxObject",
        "topicProperty": "msg.topic",
        "maxMessages": 1000,
        "schema": "{\"type\":\"record\",\"fields\":[{\"name\":\"name\",\"type\":\"string\"}]}",
        "schemaType": "json",
        "skipLeading": 0,
        "skipTrailing": 0,
        "delimiter": ",",
        "x": 660,
        "y": 60,
        "wires": [
            [
                "5312687f.3fff48"
            ],
            []
        ]
    },
    {
        "id": "5312687f.3fff48",
        "type": "debug",
        "z": "924bb2b7.03fd1",
        "name": "base",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 60,
        "wires": []
    },
    {
        "id": "3db2b919.ea68d6",
        "type": "debug",
        "z": "924bb2b7.03fd1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 160,
        "wires": []
    }
]