test/transformTest.json
[
    {
        "id": "47f03d3d.36c1b4",
        "type": "tab",
        "label": "transform",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8ec55f9e.dcfa9",
        "type": "inject",
        "z": "47f03d3d.36c1b4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\":\"testname\"}",
        "payloadType": "json",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "7ee97c55.b8e244"
            ]
        ]
    },
    {
        "id": "dab7ec27.2b1c8",
        "type": "debug",
        "z": "47f03d3d.36c1b4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 80,
        "wires": []
    },
    {
        "id": "7ee97c55.b8e244",
        "type": "transform",
        "z": "47f03d3d.36c1b4",
        "name": "",
        "actionSource": "JSON",
        "actionTarget": "AVRO",
        "sourceProperty": "msg.payload",
        "targetProperty": "msg.payload",
        "topicProperty": "msg.topic",
        "maxMessages": 1000,
        "schema": "{\"type\":\"record\",\"fields\":[{\"name\":\"name\",\"type\":\"string\"}]}",
        "schemaType": "json",
        "skipLeading": 0,
        "skipTrailing": 0,
        "delimiter": ",",
        "x": 520,
        "y": 100,
        "wires": [
            [
                "dab7ec27.2b1c8",
                "f29832ad.9b49a"
            ],
            [
                "dab7ec27.2b1c8"
            ]
        ]
    },
    {
        "id": "f29832ad.9b49a",
        "type": "transform",
        "z": "47f03d3d.36c1b4",
        "name": "",
        "actionSource": "AVRO",
        "actionTarget": "JSON",
        "sourceProperty": "msg.payload",
        "targetProperty": "msg.payload",
        "topicProperty": "msg.topic",
        "maxMessages": 1000,
        "schema": "{\"type\":\"record\",\"fields\":[{\"name\":\"name\",\"type\":\"string\"}]}",
        "schemaType": "json",
        "skipLeading": 0,
        "skipTrailing": 0,
        "delimiter": ",",
        "x": 520,
        "y": 180,
        "wires": [
            [
                "dab7ec27.2b1c8"
            ],
            [
                "dab7ec27.2b1c8"
            ]
        ]
    },
    {
        "id": "cd80e484.165808",
        "type": "transform",
        "z": "47f03d3d.36c1b4",
        "name": "",
        "actionSource": "snappy",
        "actionTarget": "Compress",
        "sourceProperty": "msg.payload",
        "targetProperty": "msg.payload",
        "topicProperty": "msg.topic",
        "maxMessages": 1000,
        "schema": "{\"type\":\"record\",\"fields\":[{\"name\":\"name\",\"type\":\"string\"}]}",
        "schemaType": "json",
        "skipLeading": 0,
        "skipTrailing": 0,
        "delimiter": ",",
        "x": 520,
        "y": 360,
        "wires": [
            [
                "dab7ec27.2b1c8",
                "36299843.a28b98"
            ],
            [
                "dab7ec27.2b1c8"
            ]
        ]
    },
    {
        "id": "dac52dcb.e1038",
        "type": "inject",
        "z": "47f03d3d.36c1b4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "a test",
        "payloadType": "str",
        "x": 70,
        "y": 360,
        "wires": [
            [
                "cd80e484.165808"
            ]
        ]
    },
    {
        "id": "36299843.a28b98",
        "type": "transform",
        "z": "47f03d3d.36c1b4",
        "name": "",
        "actionSource": "snappy",
        "actionTarget": "Uncompress",
        "sourceProperty": "msg.payload",
        "targetProperty": "msg.payload",
        "topicProperty": "msg.topic",
        "maxMessages": 1000,
        "schema": "{\"type\":\"record\",\"fields\":[{\"name\":\"name\",\"type\":\"string\"}]}",
        "schemaType": "json",
        "skipLeading": 0,
        "skipTrailing": 0,
        "delimiter": ",",
        "x": 500,
        "y": 440,
        "wires": [
            [
                "dab7ec27.2b1c8"
            ],
            [
                "dab7ec27.2b1c8"
            ]
        ]
    },
    {
        "id": "236867e5.848bf8",
        "type": "inject",
        "z": "47f03d3d.36c1b4",
        "name": "{\"schema\":1,\"data\":{\"name\":\"testname\"}}",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"schema\":1,\"data\":{\"name\":\"testname\"}}",
        "payloadType": "json",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "f3f80604.ea20c8"
            ]
        ]
    },
    {
        "id": "f3f80604.ea20c8",
        "type": "transform",
        "z": "47f03d3d.36c1b4",
        "name": "",
        "actionSource": "JSON",
        "actionTarget": "Confluence",
        "sourceProperty": "msg.payload",
        "targetProperty": "msg.payload",
        "topicProperty": "msg.topic",
        "maxMessages": 1000,
        "schema": "{\"1\":{\"type\":\"record\",\"fields\":[{\"name\":\"name\",\"type\":\"string\"}]}}",
        "schemaType": "json",
        "skipLeading": 0,
        "skipTrailing": 0,
        "delimiter": ",",
        "x": 510,
        "y": 240,
        "wires": [
            [
                "c5459a2b.e5e1d8",
                "dab7ec27.2b1c8"
            ],
            []
        ]
    },
    {
        "id": "c5459a2b.e5e1d8",
        "type": "transform",
        "z": "47f03d3d.36c1b4",
        "name": "",
        "actionSource": "Confluence",
        "actionTarget": "JSON",
        "sourceProperty": "msg.payload",
        "targetProperty": "msg.payload",
        "topicProperty": "msg.topic",
        "maxMessages": 1000,
        "schema": "{\"1\":{\"type\":\"record\",\"fields\":[{\"name\":\"name\",\"type\":\"string\"}]}}",
        "schemaType": "json",
        "skipLeading": 0,
        "skipTrailing": 0,
        "delimiter": ",",
        "x": 520,
        "y": 300,
        "wires": [
            [
                "dab7ec27.2b1c8"
            ],
            []
        ]
    }
]