test/data/shares/.flow.json.backup
[
    {
        "id": "2191763eafdcb9cc",
        "type": "tab",
        "label": "ux",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bcdac5a56049811a",
        "type": "tab",
        "label": "Load data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "33b7593ad51d32b5",
        "type": "debug",
        "z": "2191763eafdcb9cc",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 860,
        "wires": []
    },
    {
        "id": "9a965d2e3c6bc1c1",
        "type": "http request",
        "z": "2191763eafdcb9cc",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "www.listcorp.com/_api/services/discovery/get-all-companies?rowsPerPage=50&offset=0&sortBy=market_capitalisation&descending=true&exchange=ASX&recentlyListedCompanies=false&etf=false",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": true,
        "authType": "",
        "senderr": true,
        "headers": [
            {
                "keyType": "User-Agent",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "Accept-Language",
                "keyValue": "",
                "valueType": "en-GB, en-US, en;q=0.9",
                "valueValue": ""
            }
        ],
        "x": 690,
        "y": 860,
        "wires": [
            [
                "33b7593ad51d32b5",
                "95877d691383a2a4"
            ]
        ]
    },
    {
        "id": "58aaf44ea2ab2bba",
        "type": "inject",
        "z": "2191763eafdcb9cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 480,
        "y": 860,
        "wires": [
            [
                "9a965d2e3c6bc1c1"
            ]
        ]
    },
    {
        "id": "a6a2c5c4265d3e21",
        "type": "http request",
        "z": "2191763eafdcb9cc",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "www.listcorp.com/_api/services/company/get-price-data?code=ASX:L1G",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "User-Agent",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
            },
            {
                "keyType": "Accept-Language",
                "keyValue": "",
                "valueType": "en-GB, en-US, en;q=0.9",
                "valueValue": ""
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "Accept-Encoding",
                "keyValue": "",
                "valueType": "br",
                "valueValue": ""
            },
            {
                "keyType": "other",
                "keyValue": "sec-ch-ua",
                "valueType": "other",
                "valueValue": "\"Google Chrome\";v=\"141\", \"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"141\""
            },
            {
                "keyType": "other",
                "keyValue": "sec-ch-ua-platform",
                "valueType": "other",
                "valueValue": "\"Windows\""
            }
        ],
        "x": 690,
        "y": 940,
        "wires": [
            [
                "33b7593ad51d32b5"
            ]
        ]
    },
    {
        "id": "388fb83742c273ad",
        "type": "inject",
        "z": "2191763eafdcb9cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 480,
        "y": 940,
        "wires": [
            [
                "a6a2c5c4265d3e21"
            ]
        ]
    },
    {
        "id": "c4baabcba29c7d3d",
        "type": "catch",
        "z": "2191763eafdcb9cc",
        "name": "",
        "scope": [
            "9a965d2e3c6bc1c1",
            "a6a2c5c4265d3e21"
        ],
        "uncaught": false,
        "x": 810,
        "y": 1040,
        "wires": [
            [
                "ba5159a50b6c265a"
            ]
        ]
    },
    {
        "id": "ba5159a50b6c265a",
        "type": "debug",
        "z": "2191763eafdcb9cc",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 1040,
        "wires": []
    },
    {
        "id": "95877d691383a2a4",
        "type": "transform",
        "z": "2191763eafdcb9cc",
        "name": "",
        "actionSource": "JSON",
        "deleteSource": "true",
        "deleteSourceType": "bool",
        "actionTarget": "JSON",
        "sourceProperty": "msg.payload",
        "targetProperty": "msg.payload",
        "topicProperty": "msg.topic",
        "index": 0,
        "maxMessages": 1000,
        "maxDate": "",
        "minDate": "",
        "maxNumber": 0,
        "minNumber": 0,
        "maxString": "",
        "minString": "",
        "radix": 10,
        "schema": "{\"type\":\"record\",\"fields\":[{\"name\":\"name\",\"type\":\"string\"}]}",
        "schemaType": "str",
        "skipLeading": 0,
        "skipTrailing": 0,
        "string": "",
        "stringType": "str",
        "delimiter": ",",
        "compressionType": "setGzip",
        "x": 940,
        "y": 780,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ec1a4d9865d29cfb",
        "type": "template",
        "z": "2191763eafdcb9cc",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<title>ASX Chart Viewer</title>\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js\"></script>\n<style>\n  * { box-sizing: border-box; margin: 0; padding: 0; }\n  body { font-family: system-ui, sans-serif; background: #f5f5f5; color: #222; padding: 20px; }\n  h1 { font-size: 18px; font-weight: 500; margin-bottom: 16px; }\n  .controls { display: flex; gap: 12px; align-items: center; flex-wrap: wrap; margin-bottom: 16px; }\n  select, button { padding: 6px 12px; border: 1px solid #ccc; border-radius: 6px; background: #fff; font-size: 14px; cursor: pointer; }\n  button.active { background: #222; color: #fff; border-color: #222; }\n  .file-label { padding: 6px 12px; border: 1px solid #ccc; border-radius: 6px; background: #fff; font-size: 14px; cursor: pointer; }\n  .stats { display: grid; grid-template-columns: repeat(auto-fit, minmax(130px, 1fr)); gap: 10px; margin-bottom: 16px; }\n  .stat { background: #fff; border: 1px solid #e0e0e0; border-radius: 8px; padding: 10px 14px; }\n  .stat-label { font-size: 11px; color: #888; margin-bottom: 2px; }\n  .stat-value { font-size: 18px; font-weight: 500; }\n  .stat-value.green { color: #2d7a2d; }\n  .stat-value.red { color: #c0392b; }\n  .stat-value.amber { color: #b07d00; }\n  .chart-card { background: #fff; border: 1px solid #e0e0e0; border-radius: 8px; padding: 16px; margin-bottom: 12px; }\n  .chart-title { font-size: 13px; color: #888; margin-bottom: 10px; }\n  .signal { font-size: 12px; padding: 3px 8px; border-radius: 4px; display: inline-block; margin-left: 8px; }\n  .signal.buy { background: #d4edda; color: #155724; }\n  .signal.sell { background: #f8d7da; color: #721c24; }\n  .signal.neutral { background: #fff3cd; color: #856404; }\n  #getStock { border: 2px dashed #ccc; border-radius: 8px; padding: 30px; text-align: center; color: #888; font-size: 14px; margin-bottom: 16px; }\n</style>\n</head>\n<body>\n<h1>ASX Chart Viewer</h1>\n\n<div id=\"getStock\">\n  Drop your <strong>NVX.json</strong> file here, or\n  <label class=\"file-label\">Browse <input type=\"file\" accept=\".json\" style=\"display:none\" id=\"fileInput\"></label>\n</div>\n\n<div id=\"app\" style=\"display:none\">\n  <div class=\"controls\">\n    <select id=\"period\">\n      <option value=\"90\">3 months</option>\n      <option value=\"180\">6 months</option>\n      <option value=\"365\" selected>1 year</option>\n      <option value=\"730\">2 years</option>\n      <option value=\"99999\">All time</option>\n    </select>\n    <button class=\"active\" onclick=\"toggleIndicator('bb', this)\">Bollinger Bands</button>\n    <button class=\"active\" onclick=\"toggleIndicator('sma', this)\">SMA 50/200</button>\n  </div>\n\n  <div class=\"stats\" id=\"stats\"></div>\n\n  <div class=\"chart-card\">\n    <div class=\"chart-title\">Price <span id=\"bb-signal\"></span><span id=\"sma-signal\"></span></div>\n    <div style=\"position:relative; height:320px;\"><canvas id=\"priceChart\"></canvas></div>\n  </div>\n  <div class=\"chart-card\">\n    <div class=\"chart-title\">Volume</div>\n    <div style=\"position:relative; height:120px;\"><canvas id=\"volChart\"></canvas></div>\n  </div>\n  <div class=\"chart-card\">\n    <div class=\"chart-title\">RSI (14) <span id=\"rsi-signal\"></span></div>\n    <div style=\"position:relative; height:140px;\"><canvas id=\"rsiChart\"></canvas></div>\n  </div>\n  <div class=\"chart-card\">\n    <div class=\"chart-title\">MACD (12,26,9) <span id=\"macd-signal\"></span></div>\n    <div style=\"position:relative; height:160px;\"><canvas id=\"macdChart\"></canvas></div>\n  </div>\n</div>\n\n<script>\nlet allData = [], priceChart, volChart, rsiChart, macdChart;\nlet showBB = true, showSMA = true;\n\nconst toggleIndicator=(key, btn)=>{\n  if (key === 'bb') showBB = !showBB;\n  if (key === 'sma') showSMA = !showSMA;\n  btn.classList.toggle('active');\n  render();\n}\n\n// File loading\ndocument.getElementById('fileInput').addEventListener('change', e => loadFile(e.target.files[0]));\nconst getStock = document.getElementById('getStock');\ngetStock.addEventListener('dragover', e => e.preventDefault());\ngetStock.addEventListener('drop', e => { e.preventDefault(); loadFile(e.dataTransfer.files[0]); });\n\nconst loadFile=>(file) {\n  const reader = new FileReader();\n  reader.onload = e => {\n    try {\n      allData = JSON.parse(e.target.result);\n      document.getElementById('getStock').style.display = 'none';\n      document.getElementById('app').style.display = 'block';\n      document.getElementById('period').addEventListener('change', render);\n      render();\n    } catch { alert('Invalid JSON file'); }\n  };\n  reader.readAsText(file);\n}\n\nconst getSlice=()=>{\n  const days = parseInt(document.getElementById('period').value);\n  return days >= allData.length ? allData : allData.slice(-days);\n}\n\nconst signal=(cls, text)=>{\n  return `<span class=\"signal ${cls}\">${text}</span>`;\n}\n\nconst render=()=>{\n  const data = getSlice();\n  const labels = data.map(d => d.date);\n  const closes = data.map(d => parseFloat(d.close));\n  const last = data[data.length - 1];\n\n  // Stats\n  const prev = data[data.length - 2];\n  const change = (parseFloat(last.close) - parseFloat(prev.close)).toFixed(3);\n  const changePct = ((change / parseFloat(prev.close)) * 100).toFixed(2);\n  const allCloses = data.map(d => parseFloat(d.close));\n  const rsiVal = parseFloat(last.rsi);\n  const macdHist = parseFloat(last.macdHist);\n\n  document.getElementById('stats').innerHTML = `\n    <div class=\"stat\"><div class=\"stat-label\">Last close</div><div class=\"stat-value\">$${last.close}</div></div>\n    <div class=\"stat\"><div class=\"stat-label\">Change</div><div class=\"stat-value ${change >= 0 ? 'green' : 'red'}\">${change >= 0 ? '+' : ''}${change} (${changePct}%)</div></div>\n    <div class=\"stat\"><div class=\"stat-label\">RSI 14</div><div class=\"stat-value ${rsiVal < 30 ? 'green' : rsiVal > 70 ? 'red' : 'amber'}\">${last.rsi}</div></div>\n    <div class=\"stat\"><div class=\"stat-label\">MACD hist</div><div class=\"stat-value ${macdHist >= 0 ? 'green' : 'red'}\">${last.macdHist}</div></div>\n    <div class=\"stat\"><div class=\"stat-label\">SMA 50</div><div class=\"stat-value\">$${last.sma50}</div></div>\n    <div class=\"stat\"><div class=\"stat-label\">SMA 200</div><div class=\"stat-value\">$${last.sma200}</div></div>\n    <div class=\"stat\"><div class=\"stat-label\">BB Upper</div><div class=\"stat-value\">$${last.bbUpper}</div></div>\n    <div class=\"stat\"><div class=\"stat-label\">BB Lower</div><div class=\"stat-value\">$${last.bbLower}</div></div>\n  `;\n\n  // Signals\n  document.getElementById('rsi-signal').innerHTML = rsiVal < 30 ? signal('buy','Oversold') : rsiVal > 70 ? signal('sell','Overbought') : signal('neutral','Neutral');\n  document.getElementById('macd-signal').innerHTML = macdHist > 0 ? signal('buy','Bullish') : signal('sell','Bearish');\n  const price = parseFloat(last.close);\n  document.getElementById('bb-signal').innerHTML = price > parseFloat(last.bbUpper) ? signal('sell','Above upper band') : price < parseFloat(last.bbLower) ? signal('buy','Below lower band') : '';\n  document.getElementById('sma-signal').innerHTML = parseFloat(last.sma50) > parseFloat(last.sma200) ? signal('buy','Golden cross') : signal('sell','Death cross');\n\n  // Destroy old charts\n  [priceChart, volChart, rsiChart, macdChart].forEach(c => c?.destroy());\n\n  // Price chart\n  const priceDatasets = [{\n    label: 'Close', data: closes, borderColor: '#2563eb',\n    borderWidth: 1.5, pointRadius: 0, tension: 0.1, fill: false\n  }];\n  if (showBB) {\n    priceDatasets.push(\n      { label: 'BB Upper', data: data.map(d => parseFloat(d.bbUpper)), borderColor: '#94a3b8', borderWidth: 1, borderDash: [4,4], pointRadius: 0, fill: false },\n      { label: 'BB Lower', data: data.map(d => parseFloat(d.bbLower)), borderColor: '#94a3b8', borderWidth: 1, borderDash: [4,4], pointRadius: 0, fill: false },\n      { label: 'BB Mid', data: data.map(d => parseFloat(d.bbMiddle)), borderColor: '#cbd5e1', borderWidth: 1, pointRadius: 0, fill: false }\n    );\n  }\n  if (showSMA) {\n    priceDatasets.push(\n      { label: 'SMA 50', data: data.map(d => parseFloat(d.sma50)), borderColor: '#f59e0b', borderWidth: 1.5, pointRadius: 0, fill: false },\n      { label: 'SMA 200', data: data.map(d => parseFloat(d.sma200)), borderColor: '#ef4444', borderWidth: 1.5, pointRadius: 0, fill: false }\n    );\n  }\n\n  const commonXAxis = { display: false, ticks: { maxTicksLimit: 8 }};\n  const commonOpts = { responsive: true, maintainAspectRatio: false, animation: false, plugins: { legend: { display: false }}};\n\n  priceChart = new Chart(document.getElementById('priceChart'), {\n    type: 'line',\n    data: { labels, datasets: priceDatasets },\n    options: { ...commonOpts, scales: { x: { display: true, ticks: { maxTicksLimit: 8, font: { size: 11 }}}, y: { ticks: { font: { size: 11 }}}}}\n  });\n\n  // Volume chart\n  volChart = new Chart(document.getElementById('volChart'), {\n    type: 'bar',\n    data: { labels, datasets: [{ label: 'Volume', data: data.map(d => d.volume), backgroundColor: '#93c5fd', borderWidth: 0 }]},\n    options: { ...commonOpts, scales: { x: commonXAxis, y: { ticks: { font: { size: 11 }, callback: v => v >= 1e6 ? (v/1e6).toFixed(1)+'M' : v >= 1e3 ? (v/1e3).toFixed(0)+'K' : v }}}}\n  });\n\n  // RSI chart\n  rsiChart = new Chart(document.getElementById('rsiChart'), {\n    type: 'line',\n    data: { labels, datasets: [\n      { label: 'RSI', data: data.map(d => parseFloat(d.rsi)), borderColor: '#8b5cf6', borderWidth: 1.5, pointRadius: 0, fill: false },\n      { label: 'OB', data: data.map(() => 70), borderColor: '#fca5a5', borderWidth: 1, borderDash: [4,4], pointRadius: 0, fill: false },\n      { label: 'OS', data: data.map(() => 30), borderColor: '#86efac', borderWidth: 1, borderDash: [4,4], pointRadius: 0, fill: false }\n    ]},\n    options: { ...commonOpts, scales: { x: commonXAxis, y: { min: 0, max: 100, ticks: { font: { size: 11 }}}}}\n  });\n\n  // MACD chart\n  const histColors = data.map(d => parseFloat(d.macdHist) >= 0 ? '#86efac' : '#fca5a5');\n  macdChart = new Chart(document.getElementById('macdChart'), {\n    type: 'bar',\n    data: { labels, datasets: [\n      { label: 'Histogram', data: data.map(d => parseFloat(d.macdHist)), backgroundColor: histColors, borderWidth: 0, order: 2 },\n      { label: 'MACD', data: data.map(d => parseFloat(d.macd)), borderColor: '#2563eb', borderWidth: 1.5, pointRadius: 0, type: 'line', fill: false, order: 1 },\n      { label: 'Signal', data: data.map(d => parseFloat(d.macdSignal)), borderColor: '#f59e0b', borderWidth: 1.5, pointRadius: 0, type: 'line', fill: false, order: 1 }\n    ]},\n    options: { ...commonOpts, scales: { x: commonXAxis, y: { ticks: { font: { size: 11 }}}}}\n  });\n}\n\nfunction fetchFullHistory(ticker) {\n  return new Promise((resolve, reject) => {\n    const url = `.\\stock`;\n    https.get(url, { headers: { 'User-Agent': 'Mozilla/5.0', 'Accept': 'application/json' }}, (res) => {\n      let body = '';\n      res.on('data', c => body += c);\n      res.on('end', () => {\n        try {\n          allData = JSON.parse(body);\n          document.getElementById('getStock').style.display = 'none';\n          document.getElementById('app').style.display = 'block';\n          document.getElementById('period').addEventListener('change', render);\n          render();\n\n\n          resolve({ ticker, name: meta.longName || meta.shortName, currency: meta.currency, history });\n        } catch (e) { reject(new Error(`${ticker}: ${e.message}`)); }\n      });\n    }).on('error', reject);\n  });\n}\n\nasync function fetchData() {\n    const url = document.getElementById('urlInput').value; // Get input value\n    const outputElement = document.getElementById('output');\n    try {\n        const response = await fetch(\"./stock/\");     \n        if (!response.ok) {\n            throw new Error(`HTTP error! status: ${response.status}`);\n        }\n        const data = await response.json(); // Parse response as JSON\n        // Display formatted JSON in the <pre> tag\n        outputElement.textContent = JSON.stringify(data, null, 2);\n    } catch (error) {\n        outputElement.textContent = 'Error: ' + error.message;\n    }\n}\n\n</script>\n</body>\n</html>",
        "output": "str",
        "x": 500,
        "y": 120,
        "wires": [
            [
                "4772d7f5ca4aa81b"
            ]
        ]
    },
    {
        "id": "626b7fc962839956",
        "type": "http in",
        "z": "2191763eafdcb9cc",
        "name": "/index",
        "url": "/index",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "0d917b2d7e5e6f54"
            ]
        ]
    },
    {
        "id": "4772d7f5ca4aa81b",
        "type": "http response",
        "z": "2191763eafdcb9cc",
        "name": "OK",
        "statusCode": "200",
        "headers": {},
        "x": 690,
        "y": 120,
        "wires": []
    },
    {
        "id": "0d917b2d7e5e6f54",
        "type": "Monitor Flow",
        "z": "2191763eafdcb9cc",
        "name": "",
        "x": 310,
        "y": 120,
        "wires": [
            [
                "ec1a4d9865d29cfb"
            ]
        ]
    },
    {
        "id": "46cfe4de2ab9d0ea",
        "type": "columnar",
        "z": "2191763eafdcb9cc",
        "name": "",
        "action": "sqlQuery",
        "filePath": "/data/stock",
        "sqlQuery": "select * from ?",
        "outputProperty": "payload",
        "parameterMappings": [],
        "x": 300,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "af907143b954d8f9",
        "type": "http in",
        "z": "2191763eafdcb9cc",
        "name": "/stock",
        "url": "/stock",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "46cfe4de2ab9d0ea"
            ]
        ]
    },
    {
        "id": "cf6d900a9d3c4c99",
        "type": "http response",
        "z": "2191763eafdcb9cc",
        "name": "OK",
        "statusCode": "200",
        "headers": {},
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "e889c207c823969a",
        "type": "inject",
        "z": "bcdac5a56049811a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "BHP",
        "payload": "BHP.AX?interval=1d&period1=0&period2=9999999999",
        "payloadType": "str",
        "x": 90,
        "y": 140,
        "wires": [
            [
                "b91fb5fcccbbdabe"
            ]
        ]
    },
    {
        "id": "b91fb5fcccbbdabe",
        "type": "http request",
        "z": "bcdac5a56049811a",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://query1.finance.yahoo.com/v8/finance/chart/{{{topic}}}.AX?interval=1d&period1=0&period2=9999999999",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "User-Agent",
                "valueType": "other",
                "valueValue": "Mozilla/5.0"
            },
            {
                "keyType": "other",
                "keyValue": "Accept",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 290,
        "y": 140,
        "wires": [
            [
                "1e943272533c9a02"
            ]
        ]
    },
    {
        "id": "a072f721ef9d275f",
        "type": "debug",
        "z": "bcdac5a56049811a",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 440,
        "wires": []
    },
    {
        "id": "1e943272533c9a02",
        "type": "function",
        "z": "bcdac5a56049811a",
        "name": "parse yahoo stoc",
        "func": "try {\n  const data = msg.payload;\n  if (!data.chart.result) throw new Error(data.chart.error?.description || 'No data');\n  const result = data.chart.result[0];\n  const meta = result.meta;\n  const ts = result.timestamp;\n  const q = result.indicators.quote[0];\n  const adj = result.indicators.adjclose?.[0]?.adjclose;\n  const history = ts.map((t, i) => ({\n    ticker: msg.topic,\n    name: meta.longName || meta.shortName,\n    date: new Date(t * 1000).toISOString().split('T')[0],\n    open: q.open[i]?.toFixed(4) ?? null,\n    high: q.high[i]?.toFixed(4) ?? null,\n    low: q.low[i]?.toFixed(4) ?? null,\n    close: q.close[i]?.toFixed(4) ?? null,\n    adjClose: adj?.[i]?.toFixed(4) ?? null,\n    volume: q.volume[i] ?? null\n  })).filter(d => d.close !== null);\n/*\n  msg.payload = {\n    ticker: msg.topic,\n    name: meta.longName || meta.shortName,\n    currency: meta.currency, history\n  }\n*/\n  msg.payload = {records: history}\n} catch (ex) {\n  throw (new Error(`${msg.topic}: ${ex.message}`));\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 200,
        "wires": [
            [
                "a072f721ef9d275f",
                "8641b9a39d84cb48"
            ]
        ]
    },
    {
        "id": "8641b9a39d84cb48",
        "type": "columnar",
        "z": "bcdac5a56049811a",
        "name": "stock data",
        "action": "writeFile",
        "filePath": "/data/stock",
        "sqlQuery": "",
        "outputProperty": "payload",
        "parameterMappings": [],
        "x": 310,
        "y": 280,
        "wires": [
            [
                "a072f721ef9d275f"
            ]
        ]
    },
    {
        "id": "4c11e3d2a9acda98",
        "type": "columnar",
        "z": "bcdac5a56049811a",
        "name": "",
        "action": "readFile",
        "filePath": "./stock/data",
        "sqlQuery": "",
        "outputProperty": "result",
        "parameterMappings": [],
        "x": 320,
        "y": 400,
        "wires": [
            [
                "a072f721ef9d275f"
            ]
        ]
    },
    {
        "id": "8d23a6f560117fdf",
        "type": "inject",
        "z": "bcdac5a56049811a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "BHP",
        "payload": "BHP.AX?interval=1d&period1=0&period2=9999999999",
        "payloadType": "str",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "4c11e3d2a9acda98"
            ]
        ]
    },
    {
        "id": "ba27abfd3276f3fb",
        "type": "columnar",
        "z": "bcdac5a56049811a",
        "name": "",
        "action": "sqlQuery",
        "filePath": "./stock/data",
        "sqlQuery": "select * from ?",
        "outputProperty": "payload",
        "parameterMappings": [],
        "x": 320,
        "y": 500,
        "wires": [
            [
                "a072f721ef9d275f"
            ]
        ]
    },
    {
        "id": "976707c15556dd17",
        "type": "inject",
        "z": "bcdac5a56049811a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "BHP",
        "payload": "BHP.AX?interval=1d&period1=0&period2=9999999999",
        "payloadType": "str",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "ba27abfd3276f3fb"
            ]
        ]
    },
    {
        "id": "1ad764788d5b9844",
        "type": "inject",
        "z": "bcdac5a56049811a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 20,
        "wires": [
            [
                "255bf67dfe6b0747"
            ]
        ]
    },
    {
        "id": "255bf67dfe6b0747",
        "type": "http request",
        "z": "bcdac5a56049811a",
        "name": "get ASX stocks CSV",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.asx.com.au/asx/research/ASXListedCompanies.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 320,
        "y": 20,
        "wires": [
            [
                "dca3489a70c2c6e1"
            ]
        ]
    },
    {
        "id": "dca3489a70c2c6e1",
        "type": "transform",
        "z": "bcdac5a56049811a",
        "name": "",
        "actionSource": "CSVWithHeader",
        "deleteSource": "true",
        "deleteSourceType": "bool",
        "actionTarget": "JSON",
        "sourceProperty": "msg.payload",
        "targetProperty": "msg.payload",
        "topicProperty": "msg.topic",
        "JSONataSource": "",
        "JSONataSourceType": "jsonata",
        "JSONataTarget": "",
        "JSONataTargetType": "jsonata",
        "index": 0,
        "maxMessages": "10",
        "maxDate": "",
        "minDate": "",
        "maxNumber": 0,
        "minNumber": 0,
        "maxString": "",
        "minString": "",
        "radix": 10,
        "schema": "{\"type\":\"record\",\"fields\":[{\"name\":\"name\",\"type\":\"string\"}]}",
        "schemaType": "str",
        "skipLeading": "1",
        "skipTrailing": 0,
        "string": "",
        "stringType": "str",
        "delimiter": ",",
        "compressionType": "setGzip",
        "x": 630,
        "y": 20,
        "wires": [
            [
                "1be58b86b8cce81a"
            ],
            []
        ]
    },
    {
        "id": "1be58b86b8cce81a",
        "type": "file",
        "z": "bcdac5a56049811a",
        "name": "asxshares",
        "filename": "/data/asxshares.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 630,
        "y": 80,
        "wires": [
            [
                "a072f721ef9d275f"
            ]
        ]
    }
]